body {
	cursor: pointer;
	font-family: "arial", "helvetica", "sans serif";				
}
body * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
} 
figure { margin: 0; padding: 10px; }
#sreej {
	max-width: 50%;
}
#sreej.on {
    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
    transform:rotate(-10deg)
}
#sreej.off {
	-webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    transform:rotate(10deg)
}
.button {
	border: none;
	padding: 10px;
	font-size: .75em;
	text-transform: uppercase;
	background: deepskyblue;
	color: #fff;
	font-family: sans-serif;
	border-bottom: solid 1px #aaa;
	border-radius: 6px;
	border-top: solid 1px #fff;
	outline: 0;
}
#moe, #devil, #smooth, #wwmoe {
	width:40%; 
	/*position: absolute;*/													
}
#devil {
	width: 10%; 	
}
#share {
	position: absolute;
	top: 50%;
	left: 25%;
	padding: 20px;
}
.sreejith-goodies { 				
	width: 40%;
	max-height: 100%;	
	float: right;
	border: solid 1px #fff;
	background: #ddd;
	border-radius: 8px;								
}
.sreejith-goodies section {
	height: 50%;
}
.social-list {
	margin: 0;
	padding: 0;
}
.social-list li { display: inline-block; }
.social-list li img {
	max-width: 75%;
}
.sreejithhead {
	text-align: center;								
	width: 60%;
}
.label {
	position: relative;				
	/*padding: 100px 0 0;*/
}
.label span {
	display: block;				
	background: #ddd;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #bbb;			
	padding: 10px;
	border-radius: 6px;
	color: #666;
	text-transform: uppercase;
	font-size: 12px;
	text-shadow: -1px -1px #eee;
	text-align: center;
}
#share {
	position: absolute;
	top: 40%;
	left: 45%;
	padding: 20px;
	background: white;
	width: 20%;
	border-radius: 5px;
	border: solid 1px #ddd;
	box-shadow: 1px 1px 6px #999;
	text-align: center;
}
#share h5 { 
	text-transform: uppercase;
	margin: 10px;
}
.js-buttons-for-save-share {
	clear: both;
	position: relative;
	top: -10px;
	left: 25%;
}